@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #222222;
}

.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.nav {
  background-color: #2dc5fa;
  min-height: 8vh;
}

.hamburg-hr {
  margin: 2px;
}

.brand {
  color: #212353;
  text-shadow: 1px 1px 2px #717291;
  margin-right: 32px;
}

.brand:hover {
  color: #717291;
}

.brand:active {
  font-size: 19px;
}

.nav-logout {
  cursor: pointer;
}

.hamburg {
  border: 1px solid #717291;
}

.hamburg-collapse-items {
  text-shadow: 1px 1px 2px #717291;
}

.hamburg-collapse-item {
  color: #212353;
  margin-right: 16px;
}

.hamburg-collapse-item:hover {
  color: #717291;
}

.hamburg-collapse-item:active {
  font-size: 15px;
  color: black;
}

.about-content {
  padding: 12px 32px;
  background-color: #717291;
  border: 1px solid #212353;
  border-radius: 4px;
  box-shadow: 0px 0px 4px black;
  text-align: left;
  color: var(--dark-blue);
  text-shadow: 0px 0px 1px #818694;
  line-height: 2;
  list-style: disc;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12vh;
  background-color: #212353;
  color: white;
  text-align: center;
  font-size: small;
  letter-spacing: 2px;
  width: 100%;
}

.footer-h5 {
  font-size: 12px;
}

.footer-portfolio {
  color: white;
}

.footer-portfolio:hover {
  color: #818694;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.icon {
  position: relative;
  background: #dcdcdc;
  border-radius: 50%;
  padding: 14px 14px 12.5px 15.5px;
  margin: 6px 12px 0 12px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px black;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip {
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 0;
  font-size: 10px;
  background: #dcdcdc;
  color: #dcdcdc;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 0 0 4px black;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #dcdcdc;
  bottom: -4px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover .tooltip {
  top: -36px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  padding: 6px;
}

.icon:hover span,
.icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.github:hover,
.github:hover .tooltip,
.github:hover .tooltip::before {
  background: #444444;
  color: white;
}

.linkedin:hover,
.linkedin:hover .tooltip,
.linkedin:hover .tooltip::before {
  background: #0071ae;
  color: white;
}

.slideshow:hover,
.slideshow:hover .tooltip,
.slideshow:hover .tooltip::before {
  background: #d89906;
  color: white;
}

.container-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-align: center;
  background-color: whitesmoke;
  border: 1px solid #212353;
  border-radius: 4px;
  color: #212353;
  padding: 16px 24px;
  width: 90%;
  position: relative;
}

.progress {
  width: 88%;
  background-color: #dcdcdc;
  text-shadow: 1px 1px 2px #212353;
}

.span-correct {
  color: #0bb427;
}

.correct-answer {
  background-color: #0bb427;
  pointer-events: none;
}

.wrong-answer {
  background-color: #ff0421;
  pointer-events: none;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
  width: 100%;
  padding: 20px 10px;
  background-color: #a6a7ba;
  color: #212353;
}

.container-password {
  position: relative;
}

.olho-teste {
  position: absolute;
  top: 30%;
  right: 5%;
}

.button {
  background-color: #dcdcdc;
  border: 1px solid #212353;
  border-radius: 4px;
  box-shadow: #717291 4px 4px 0 0, #818694 4px 4px 0 1px;
  color: #212353;
  cursor: pointer;
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
}

.button:hover {
  text-decoration: none;
  background-color: #f1f1f1;
  border-color: black;
}

.button:active {
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px inset;
  outline: none;
}

.button:not([disabled]):active {
  box-shadow: #717291 2px 2px 0 0, #818694 2px 2px 0 1px;
  transform: translate(2px, 2px);
  background-color: white;
  border-color: black;
}

.button-yellow {
  background-color: #d89906;
  border: 1px solid #212353;
  border-radius: 4px;
  box-shadow: #717291 4px 4px 0 0, #818694 4px 4px 0 1px;
  color: #212353;
  cursor: pointer;
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
}

.button-yellow:hover {
  text-decoration: none;
  background-color: #f1f1f1;
  border-color: black;
}

.button-yellow:active {
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px inset;
  outline: none;
}

.button-yellow:not([disabled]):active {
  box-shadow: #717291 2px 2px 0 0, #818694 2px 2px 0 1px;
  transform: translate(2px, 2px);
  background-color: white;
  border-color: black;
}

.button-red {
  background-color: #db1e34;
  border: 1px solid #212353;
  border-radius: 4px;
  box-shadow: #717291 4px 4px 0 0, #818694 4px 4px 0 1px;
  color: black;
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
}

.button-red:hover {
  text-decoration: none;
  background-color: #f1f1f1;
  border-color: black;
}

.button-red:active {
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px inset;
  outline: none;
}

.button-red:not([disabled]):active {
  box-shadow: #717291 2px 2px 0 0, #818694 2px 2px 0 1px;
  transform: translate(2px, 2px);
  background-color: white;
  border-color: black;
}

.button-green {
  background-color: #0bb427;
  border: 1px solid #212353;
  border-radius: 4px;
  box-shadow: #717291 4px 4px 0 0, #818694 4px 4px 0 1px;
  color: black;
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
}

.button-green:hover {
  text-decoration: none;
  background-color: #f1f1f1;
  border-color: black;
}

.button-green:active {
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px inset;
  outline: none;
}

.button-green:not([disabled]):active {
  box-shadow: #717291 2px 2px 0 0, #818694 2px 2px 0 1px;
  transform: translate(2px, 2px);
  background-color: white;
  border-color: black;
}
